footer{
    margin-top: 20px;
}

.detail-quantity{
    background: gainsboro;
}

input[name="items"]{
    background-color: lavender;
}

.spinner{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    background-size: 100%;
}

.table > tbody > tr > td, .table > tbody > tr > th{
    vertical-align: middle;
}

div.alert{
    z-index: 5;
    opacity: 0.95;
}

/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}